{{>header}}
    <section id="consultas">
      <span style="display: flex; justify-content: center; align-items: center;"><a style="display: flex; justify-content: center; align-items: center; text-decoration: none;" href="/">Inicio</a> > Consulta</span>
        <h1 style="display: flex; justify-content: center; align-items: center;">Consultas</h1>
        {{#consulta}}
        <div class="contenido-consultas">
          <h6>Pregunta:{{pregunta}}</h6>  
          <p>Respuesta:{{respuesta}}</p>  
          <td>
            <a   style="display: flex; justify-content: center; align-items: center; text-decoration: none;" href="/detail/{{_id}}" class="editarBtn" hola="prueba">Responder</a>
          </td> 

 
 
        </div>

        
        {{/consulta}}
    </section>
    <hr>
    <section id="post">
        <div  class="col-8">
            <form action="" id="formdata" method="post">
              <div class="form-group">
                <input type="hidden" name="id" id="" value="{{id}}">
                <label for="">Escriba su consulta</label>
                <input type="text" class="form-control" name="pregunta" id="" aria-describedby="helpId" placeholder=""
                  value="{{pregunta}}">
              </div>
               
              <button type="submit" id="updateinfo" class="btn btn-primary">Enviar</button>
  
            </form>
      
      </div>
    </section>
 

{{>footer}}