{{>header}}
    <section id="consultas">
        <h1>Consultas Médicas</h1>
        {{#consulta}}
        <div class="contenido-consultas">
          <h6>Pregunta:{{pregunta}}</h6>  
          <p>Respuesta:{{respuesta}}</p>                      
        </div>
        {{/consulta}}
    </section>
    <hr>
    <section id="post">
        <div class="col-8">
            <form action="" id="formdata" method="post">
              <div class="form-group">
                <input type="hidden" name="id" id="" value="{{id}}">
                <label for="">Escriba su consulta</label>
                <input type="text" class="form-control" name="pregunta" id="" aria-describedby="helpId" placeholder=""
                  value="{{pregunta}}">
              </div>
              <div class="form-group">
                <label for="">Escriba su respuesta</label>
                <input type="text" class="form-control" name="respuesta" id="" aria-describedby="helpId" placeholder=""
                  value="{{respuesta}}">
               </div>
 
              <button type="submit" id="updateinfo" class="btn btn-primary">Enviar</button>
  
            </form>
      
      </div>
    </section>



    <script type="module">
        var formdata = document.getElementById("formdata");
        formdata.addEventListener("submit", (e) => {
          var data = formToJSON(formdata.elements);
          console.log(data);
          e.preventDefault();
          var misCabeceras = new Headers();
          fetch("/consulta", {
            method: "POST",
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          }).then(
            response => response.text()// if the response is a JSON object
          ).then(
            success => {
              alert("Datos Enviados!")
            }
          )
          return false;
        });
      
      </script>


{{>footer}}