<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>WEB</title>
</head>

<body>
    {{>header}}
    <section id="personas">
        <div>
            <img src="/.jpg" alt="">
            <h4>Lorem ipsum dolr sit amet</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="#" class="boton-saber-mas">Saber mas</a>
        </div>
        <div>
            <img src="/.jpg" alt="">
            <h4>Lorem ipsum dolr sit amet</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
            <a href="#" class="boton-saber-mas">Saber mas</a>
        </div>
    </section>
    <section id="iconos">
        <div class="contenido-iconos">
            <div>
                <i class="fas fa-shiping-fast fa-3x"></i>
                <h6>Rapido</h6>
                <p>Lorem ipsum dolor sit amet consectetu</p>
            </div>
            <div>
                <i class="fas fa-shiping-fast fa-3x"></i>
                <h6>Accesible</h6>
                <p>Lorem ipsum dolor sit amet consectetu</p>
            </div>
            <div id="icono-mobile"> 
                <i class="fas fa-shiping-fast fa-3x"></i>
                <h6>Responsive</h6>
                <p>Lorem ipsum dolor sit amet consectetu</p>
            </div>
        </div>
        <div class="boton-iconos">
            <a href="#" class="boton-saber-mas">Saber mas</a>
        </div>
    </section>
    {{>footer}}
</body>

</html>