<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Cud</title>
</head>

<body>
    <footer>
        <div class="contenido-footer">
            <div class="logo-footer">
                <h4>C.U.D</h4>
            </div>
            <div class="enlaces-footer">
                <h4></i>ENLACES</h4>
                <h6>Ceub</h6>
                <h6>Cub</h6>
            </div>
            <div class="contacto-footer">
                <h4>CONTACTO</h4>
                <h6><i class="fas fa-home"></i> Calle Hermanos Manchego Nro. 2559 | La paz</h6>
                <h6><i class="fas fa-phone"></i> +591 70707070</h6>
                <a href="#"><i class="fab fa-facebook-square" style='font-size:32px;color:#3b5998;'></i></a>
                <a href="#"><i class='fab fa-whatsapp-square' style='font-size:32px;color:#25D366;'></i></a>
            </div>
        </div>
        
        <p>Copyright &copy; 2022 C.U.D</p>
    </footer>
</body>

</html>