<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>C.U.D</title>
</head>

<body>
  <header>
        <img src="http://www.ceub.edu.bo/portal/images/slider/tumbs_cud.png" alt="">
        <!--<h2 class="logo">C.U.D</h2>-->
        <input type="checkbox" id="check">

        <label for="check" class="mostrar-menu">
            &#8801
        </label>

        <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/#banner">Intitucion</a>
            <a href="/#slider">Noticias</a>
            <a href="/#personas">Consultas</a>
            <a href="/#social">Social</a>
            <a href="/#OtrosSitios">Enlaces</a>
            <a href="/#">Login</a>
            <label for="check" class="esconder-menu">
                    &#215
            </label>
        </nav> 
  </header>
    
</body>

</html>