<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>C.U.D</title>
</head>

<body>
    <header>
        <img src="http://www.ceub.edu.bo/portal/images/slider/tumbs_cud.png" alt="">
        <h2 class="logo">Confederacion Universitaria de Docentes - Bolivia</h2>
        <input type="checkbox" id="check">

        <label for="check" class="mostrar-menu">
            &#8801
        </label>

        <nav class="menu">
            <a href="/#banner">Inicio</a>
            <a href="/#personas">Intitucion</a>
            <a href="/#iconos">Noticias</a>
            <a href="/#iconos">Atencion</a>
            <a href="/#iconos">Contacto</a>
            <a href="/#iconos">Login</a>

            <label for="check" class="esconder-menu">
                    &#215
            </label>
        </nav>
    </header>
    
</body>

</html>